/*
#=========================================#
|   버튼 관련 CSS 입니다.              |
#=========================================#
*/

/*a 태그*/
a{
    color: $blue-100;
    &:hover,&:focus {
        text-decoration: underline;
        color: $blue-100;
    }
}

.btn {
    font-size: 16px;
    font-weight: 400;
    border-radius: 7px;
    /*색상별 작업*/
    &-primary {
        border-color: $purple-100;
        background-color: $purple-100;
        color: $gray-fff;
        &:hover, &:focus,{
            border-color: $purple-100;
            background-color: $purple-100;
            color: $gray-fff;
            box-shadow: none;
        }
        &:not(:disabled):not(.disabled) {
            &.active, &:active {
                border-color: $purple-100;
                background-color: $purple-100;
                color: $gray-fff;
                outline: none;
                box-shadow: none;
            }

    }
        &:disabled{
            background-color: $gray-200;
            color: $gray-fff;
            border: 1px solid $gray-200;
        }
    }
    &-danger {
        background-color: $red-200;
        color: $red-100;
        border-color: $red-200;
        &:hover{
            background-color: $red-100;
            color: $gray-fff;
            border-color: $red-100;
        }
    }
    &-secondary {
        background-color: $gray-300;
        color: $gray-100;
        border-color: $gray-300;
        &:not(:disabled):not(.disabled) {
            &.active, &:active {
                border-color: $gray-300;
                background-color: $gray-300;
                color: $gray-100;
                outline: none;
                box-shadow: none !important;
            }
        }
        &:hover, &:focus {
            border-color: $purple-100;
            background-color: $purple-100;
            color: $gray-fff;
            box-shadow: none;
        }
        &:disabled{
            background-color: $gray-300;
            color: $gray-200;
            border-color: $gray-300;
        }
    }
    &-dark {
        background-color: #28282E;
        color: #fff;
        border-color: #28282E;
    }
    &-info{
        background-color: #D3ECFF;
        color: $blue-100;
        border-color: #D3ECFF;
        &:not(:disabled):not(.disabled) {
            &.active, &:active {
                border-color: #D3ECFF;
                background-color: #D3ECFF;
                color: $blue-100;
                outline: none;
                box-shadow: none !important;
            }
        }
        &:hover, &:focus {
            border-color: #D3ECFF;
            background-color: #D3ECFF;
            color: $blue-100;
            box-shadow: none;
        }
    }
    /*라운드 버튼*/
    &-round {
        border-radius: 38px;
    }
    /*버튼 크기*/
    &-sm{
        max-width: 70px;
        font-size: 15px;
    }
    &-md {
        min-width: 100px;
    }
    &-lg{
        min-width: 120px;
    }
    /*버튼초기화*/
    &-reset {
        background: inherit;
        border: none;
        box-shadow: none;
        border-radius: 0;
        padding: 0;
        overflow: visible;
        cursor: pointer
    }



    /*copy 버튼*/
    &-copy{
        padding: 0;
        font-size: 13px;
        color: $gray-100;
        background-color: $gray-400;
        border-radius: 3px;
        min-width: 40px;
        &:hover{
            color: $gray-fff;
            background-color: $purple-100;
        }
    }
}

.btn-group {
    .btn{
        font-size: 14px;
        margin-bottom: 0;
    }
    &.custom-radio-container{
        margin-bottom: 0;
        .custom-radio-group{
            flex: 1 1 auto;
            font-size: 0;
            border-right: 1px solid $gray-200;
            &:first-child{
                border-radius: 28px 0 0 28px;
                overflow: hidden;
            }
            &:last-child{
                border-radius: 0 28px 28px 0;
                overflow: hidden;
                border-right: none;
            }
            label{
                width: 100%;
            }
            .radio-input {
                appearance: none;
                &:checked{
                    +label{
                        border: 1px solid $purple-100;
                        background-color: $purple-100;
                        color: $gray-fff;
                    }
                }
            }
        }
        .btn{
            border-radius: 0;
        }

    }

}

/*카드 상세검색 버튼*/
.more-search-btn{
    font-weight: 400;
    font-size: 14px;
}



