/*
#=========================================#
|   버튼 관련 CSS 입니다.              |
#=========================================#
*/

.btn {
    &-primary {
        border-color: $purple-300;
        background-color: $purple-300;
        color: $purple-100;
    }

    &-danger {
        background-color: $red-200;
        color: $red-100;
        border-color: $red-200;
    }

    &-secondary {
        background-color: $gray-300;
        color: $gray-100;
        border-color: $gray-300;

        &:hover, &:focus {
            border-color: $purple-100;
            background-color: $purple-100;
            color: $gray-fff;
            box-shadow: none;
        }
    }

    &-dark {
        background-color: #28282E;
        color: #fff;
        border-color: #28282E;
    }

    &-round {
        border-radius: 38px;
    }

    &-md {
        min-width: 100px;
    }

    &-reset {
        background: inherit;
        border: none;
        box-shadow: none;
        border-radius: 0;
        padding: 0;
        overflow: visible;
        cursor: pointer
    }
}


.btn-group {
    .radio_label {
        vertical-align: middle;
        appearance: none;

        + label {
            display: inline-block;
            margin-bottom: 0;
            padding: 5px;
            background-color: #e2e2e2;
            text-align: center;
            color: $gray-100;
        }

        &:checked, &:focus-visible, &:focus, &:hover {
            + label {
                border-color: $purple-100;
                background-color: $purple-100;
                color: $gray-fff;
            }
        }

    }
}


