/*
#=========================================#
|   레이아웃 카드 관련 CSS 입니다.             |
#=========================================#
*/

.card{
    border-radius: 18px;
    padding: 24px;
    +.card{
        margin-top: 30px;
    }
    .filter-title{
        display: flex;
        align-items: center;
        font-size: 18px;
        margin-bottom: 20px;
        span,a{
            margin-left: 9px;
        }
    }
    .row{
        &.row-col-3{
            > div{
                &:first-child{
                    padding-right: 8px;
                    @include res-xl{
                        padding-right: 15px;
                    }
                }
                &:nth-child(2){
                    padding-left: 8px;
                    padding-right: 8px;
                    @include res-xl{
                        padding-right: 15px;
                        padding-left: 15px;
                    }
                }
                &:last-child{
                    padding-left: 8px;
                    @include res-xl{
                        padding-left: 15px;
                    }
                }
            }
        }
        &.row-col-2{
            > div{
                &:first-child{
                    padding-right: 8px;
                    @include res-xl{
                        padding-right: 15px;
                    }
                }
                &:last-child{
                    padding-left: 8px;
                    @include res-xl{
                        padding-left: 15px;
                    }
                }
            }
        }
    }
    .detail-search{
        display: none;

    }
    .filter-button-area{
        position: absolute;
        bottom: 40px;
        right: 24px;
        @include res-xl{
            margin-top: 14px;
            position: static;
        }
    }
    .card-title{
        margin-bottom: 12px;
        font-size: 14px;
    }
    .btn-group-month{
        .btn{
            margin-right: 5px;
            border-radius: 28px;
            font-size: 14px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .calender-input{
        width: 230px;
        position: relative;
        .icon{
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            right:5px;
            cursor: pointer;
        }

    }
    .card-number-input{
        display: flex;
        justify-content: space-between;
        .first-number{
            min-width: 160px;
            flex: 0 1 100%;
        }
        .last-number{
            min-width: 112px;
            max-width: 112px;
            margin-left: 10px;
        }
    }
    .search-detail-content{
        >div{
            margin-bottom: 12px;
            &:nth-last-child(1){
                margin-bottom: 0;
            }
            .title{
                flex: 0 0 200px;
                text-align: left;
                font-weight: 600;
            }
            .data{
                word-break: keep-all;
                flex: 0 0 calc(100% - 200px);
            }
        }
    }
    hr{
        margin-bottom: 24px;
    }
    .color-card-list{
        margin-top: 12px;
        margin-bottom: 24px;
        &.global{
            >div{
                .color-card{
                    &.account{
                        .data{
                            flex-direction: row-reverse;
                            span{
                                margin-right: 5px;

                            }
                        }
                    }


                }
            }
        }
        >div{
            display: flex;
            @include res-xl{
                flex-direction: column;
            }
            .color-card{
                padding: 30px 25px;
                display: flex;
                border-radius: 10px;
                margin-right: 20px;
                align-items: center;
                flex: 0 0 208px;
                justify-content: space-between;
                @include res-xl{
                    margin-right: 0;
                    margin-bottom: 12px;
                    flex: 1 1 100%;
                }
                &:nth-last-child(1){
                    margin-right: 0;
                    @include res-xl{
                        margin-bottom: 0;
                    }
                }
                .title{
                    font-weight: 600;
                }
                .data{
                    display: flex;
                    font-size: 20px;
                    font-weight: 600;
                    i{
                        font-style: normal;
                    }
                }
                &.account{
                    flex: 0 0 308px;
                    @include res-xl{
                        flex: 1 1 100%;
                    }
                }
                &.sky-blue{
                    border: 1px solid #73C1FF;
                    background-color: #E4F3FF;
                    i{
                        color: $blue-100;
                    }
                }
                &.purple{
                    border: 1px solid $purple-200;
                    background-color: $purple-300;
                    i{
                        color: $purple-100;
                    }
                }
            }
        }


    }
}
