/*
#=========================================#
|   색상 변수 모음 입니다.                    |
#=========================================#
*/

$purple-100 : #7852E8;

$red-100 : #FF3131;

$red-400 : #FFF1F1;

$blue-100 : #0086F1;

$bk-100 : #1E1E1E;

$gray-100 : #BABAC2;
$gray-200 : #52525B;

$orange-100 : #FF6F42;





