/*
#=========================================#
|   색상값 관련 CSS 입니다.                  |
#=========================================#
*/

// 배경 색상
.bg-purple-100{
    background-color: $purple-100 !important;
}
.bg-purple-200{
    background-color: $purple-200 !important;
}
.bg-purple-300{
    background-color: $purple-300 !important;
}
.bg-blue-100{
    background-color: $blue-100 !important;
}
.bg-red-100{
    background-color: $red-100 !important;
}
.bg-red-200{
    background-color: $red-200 !important;
}
.bg-red-300{
    background-color: $red-300 !important;
}
.bg-orange-100{
    background-color: $orange-100 !important;
}
.bg-gray-fff{
    background-color: $gray-fff;
}
.bg-gray-000{
    background-color: $gray-000 !important;
}
.bg-gray-100{
    background-color: $gray-100 !important;
}
.bg-gray-200{
    background-color: $gray-200 !important;
}
.bg-gray-300{
    background-color: $gray-300 !important;
}
.bg-gray-400{
    background-color: $gray-400 !important;
}
.bg-gray-500{
    background-color: $gray-500 !important;
}
.bg-green-100{
    background-color: $green-100 !important;
}


// 폰트 색상
.color-purple-100{
    color: $purple-100 !important;
}
.color-purple-200{
    color: $purple-200 !important;
}
.color-purple-300{
    color: $purple-300 !important;
}
.color-blue-100{
    color: $blue-100 !important;
}
.color-red-100{
    color: $red-100 !important;
}
.color-red-200{
    color: $red-200 !important;
}
.color-red-300{
    color: $red-300 !important;
}
.color-orange-100{
    color: $orange-100 !important;
}
.color-gray-fff{
    color: $gray-fff;
}
.color-gray-000{
    color: $gray-000 !important;
}
.color-gray-100{
    color: $gray-100 !important;
}
.color-gray-200{
    color: $gray-200 !important;
}
.color-gray-300{
    color: $gray-300 !important;
}
.color-gray-400{
    color: $gray-400 !important;
}
.color-gray-500{
    color: $gray-500 !important;
}
.color-green-100{
    color: $green-100 !important;
}


//border-color

.border-color-purple-100{
    border-color: $purple-100 !important;

}
.border-color-purple-200{
    border-color: $purple-200 !important;

}
.border-color-purple-300{
    border-color: $purple-300 !important;

}
.border-color-blue-100{
    border-color: $blue-100 !important;

}
.border-color-red-100{
    border-color: $red-100 !important;

}
.border-color-red-200{
    border-color: $red-200 !important;

}
.border-color-red-300{
    border-color: $red-300 !important;

}
.border-color-orange-100{
    border-color: $orange-100 !important;

}
.border-color-gray-fff{
    border-color: $gray-fff;

}
.border-color-gray-000{
    border-color: $gray-000 !important;

}
.border-color-gray-100{
    border-color: $gray-100 !important;

}
.border-color-gray-200{
    border-color: $gray-200 !important;

}
.border-color-gray-300{
    border-color: $gray-300 !important;

}
.border-color-gray-400{
    border-color: $gray-400 !important;

}
.border-color-gray-500{
    border-color: $gray-500 !important;

}
.border-color-green-100{
    border-color: $green-100 !important;
}

.color-inherit{
    color: inherit;
}