/*
#=========================================#
|   공통으로 쓰이는 css 모음입니다.            |
#=========================================#
*/


.fsz-0{
    font-size: 0;
}
.fsz-15px{
    font-size: 15px !important;
}
.fsz-14px{
    font-size: 14px !important;
}

.border-r-1{
    border-right: 1px solid;
}



.min-w-190{
    min-width: 190px !important;
}
.min-w-170{
    min-width: 170px !important;
}
.min-w-120{
    min-width: 120px !important;
}
.text-decoration-underline{
    text-decoration: underline!important;
}

.col-xl-d-none{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    @include res-xl{
        display: none;
    }
}

.h-320px{
    height: 320px !important;
}

.underline-text{
    position: relative;
    &:after{
        position: absolute;
        bottom: 0;
        width: calc(100% + 2px);
        content: '';
        height: 3px;
        left: 0;
    }
    &.line-bg-red-200{
        &:after{
            background-color: $red-200;
        }

    }
}

.ellipsis{
    display: inline-block;
    @include ellipsis ($line: 1);
    width: 100%;
}
.ellipsis-90{
    display: inline-block;
    @include ellipsis ($line: 1);
    width: 90%;
}