/*
#=========================================#
|   공통으로 쓰이는 css 모음입니다.            |
#=========================================#
*/


.fsz-0{
    font-size: 0;
}

.fsz-14px{
    font-size: 14px !important;
}

.min-w-190{
    min-width: 190px !important;
}
.min-w-170{
    min-width: 170px !important;
}
.min-w-175{
    min-width: 175px !important;
}
.min-w-120{
    min-width: 120px !important;
}
.min-w-40{
    min-width: 40px !important;
}
.min-w-110{
    min-width: 110px !important;
}
.text-underline{
    text-decoration: underline!important;
}
.bg-underline-text{
    position: relative;
    &:after{
        position: absolute;
        bottom: 0;
        width: calc(100% + 2px);
        content: '';
        height: 3px;
        left: 0;
    }
    &.line-bg-red-200{
        &:after{
            background-color: $red-200;
        }

    }
}
.col-xl-d-none{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    @include res-xl{
        display: none;
    }
}
.h-320px{
    height: 320px !important;
}

.pointer-cursor{
    cursor: pointer;
}

.ellipsis{
    display: inline-block;
    @include ellipsis ($line: 1);
    width: 100%;
    &.two-line{
        @include ellipsis ($line: 2);
    }
}
.speech-bubble{
    visibility: hidden;
    z-index: 1004;
    word-break: keep-all;
    padding: 5px 10px;
    position: absolute;
    font-size: 12px;
    color: $gray-100;
    right: -84px;
    width: max-content;
    top: -20px;
    background-color: $gray-fff;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0,0,0,0.25);
    &:after{
        position: absolute;
        content: '';
        //border-top: 10px solid $gray-fff;
        //border-left: 10px solid transparent;
        //border-right: 10px solid transparent;
        //border-bottom: 0 solid transparent;
        transform: rotate(130deg) translateY(-50%);
        box-shadow: 2px -2px 2px rgba(0,0,0,.1);
        width: 10px;
        height: 10px;
        z-index: 1;
        background-color: $gray-fff;
        left: 50%;
        border: 1px solid $gray-fff;
        bottom: -2px;
    }
}

.flex-1{
    flex: 0 1 auto;
}

.w-30{
    width: 30% !important;;
}
.w-70{
    width: 70% !important;
}