/*
#=========================================#
|   icon 관련 CSS 입니다.              |
#=========================================#
*/

.icon {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -999em;
    overflow: hidden;
}

.ico_account_btn{
    @include background-img ($width: 32px, $height: 32px, $category: 'icon', $img: 'ico_account_btn.png');
}
.ico_footer_logo{
    @include background-img ($width: 63px, $height: 19px, $category: 'icon', $img: 'ico_footer_logo.png');
}
.ico_white_home{
    @include background-img ($width: 24px, $height: 22px, $category: 'icon', $img: 'ico_white_home.png');
}

.ico_select_arrow_down{
    @include background-img ($width: 26px, $height: 26px, $category: 'icon', $img: 'ico_select_arrow_down.png');
}

.ico_search_gray{
    @include background-img ($width: 16px, $height: 16px, $category: 'icon', $img: 'ico_search_gray.png');
}

.ico_close_btn{
    @include background-img ($width: 28px, $height: 28px, $category: 'icon', $img: 'ico_close_btn.png');
}

.ico_bs_list{
    @include background-img ($width: 18px, $height: 18px, $category: 'icon', $img: 'ico_bs_list.png');
}

.ico_excel{
    @include background-img ($width: 36px, $height: 36px, $category: 'icon', $img: 'ico_excel.png');
}
.ico_consulting{
    @include background-img ($width: 20px, $height: 25px, $category: 'icon', $img: 'ico_consulting.png');
}
.ico_filter{
    @include background-img ($width: 16px, $height: 16px, $category: 'icon', $img: 'ico_filter.png');
}
.ico_question_gray{
    @include background-img ($width: 14px, $height: 14px, $category: 'icon', $img: 'ico_question_gray.png');
}
.ico_first_page{
    @include background-img ($width: 24px, $height: 24px, $category: 'icon', $img: 'ico_first_page.png');
}
.ico_last_page{
    @include background-img ($width: 24px, $height: 24px, $category: 'icon', $img: 'ico_last_page.png');
}
.ico_next_page{
    @include background-img ($width: 24px, $height: 24px, $category: 'icon', $img: 'ico_next_page.png');
}
.ico_previous_page{
    @include background-img ($width: 24px, $height: 24px, $category: 'icon', $img: 'ico_previous_page.png');
}

.ico_danger{
    @include background-img ($width: 15px, $height: 15px, $category: 'icon', $img: 'ico_danger.png');
}
.ico_calendar{
    @include background-img ($width: 26px, $height: 26px, $category: 'icon', $img: 'ico_calendar.png');
}
.ico_document_gray{
    @include background-img ($width: 35px, $height: 44px, $category: 'icon', $img: 'ico_document_gray.png');
}
.ico_copy_gray{
    @include background-img ($width: 15px, $height: 15px, $category: 'icon', $img: 'ico_copy_gray.png');
    &:hover{
        @include background-img ($width: 15px, $height: 15px, $category: 'icon', $img: 'ico_copy_purple.png');
    }
}
.ico_credit_card_purple{
    @include background-img ($width: 18px, $height: 18px, $category: 'icon', $img: 'ico_credit_card_purple.png');
}
.ico_start_purple{
    @include background-img ($width: 18px, $height: 18px, $category: 'icon', $img: 'ico_start_purple.png');
}
.ico_bell_purple{
    @include background-img ($width: 18px, $height: 18px, $category: 'icon', $img: 'ico_bell_purple.png');
}
.ico_paper_plane_blue{
    @include background-img ($width: 16px, $height: 16px, $category: 'icon', $img: 'ico_paper_plane_blue.png');
}
.ico_edit_purple{
    @include background-img ($width: 18px, $height: 18px, $category: 'icon', $img: 'ico_edit_purple.png');
}

.ico_checkbox {
    //ico_checkbox 파일명 클래스명 다름 서버에 반영시 이미지 재수정 예정
    background-size: 20px 80px;
    @include background-img ($width: 20px, $height: 20px, $category: 'icon', $img: 'ico_checkbox_v2.svg');
}
.ico_danger_gray {
    @include background-img ($width: 13px, $height: 13px, $category: 'icon', $img: 'ico_danger_gray.png');
}
.ico_new_red{
    @include background-img ($width: 18px, $height: 18px, $category: 'icon', $img: 'ico_new_red.png');
}
.ico_partner_login{
    @include background-img ($width: 18px, $height: 18px, $category: 'icon', $img: 'ico_partner_login.png');
}
.ico_check_purple{
    @include background-img ($width: 18px, $height: 18px, $category: 'icon', $img: 'ico_check_purple.png');
}
.ico_clock_gray{
    @include background-img ($width: 13px, $height: 13px, $category: 'icon', $img: 'ico_clock_gray.png');
}
.ico_clock_black{
    @include background-img ($width: 13px, $height: 12px, $category: 'icon', $img: 'ico_clock_black.png')
}

.ico-circle-red{
    background-color: $red-100;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}
.ico-circle-transparent{
    width: 6px;
    height: 6px;
    background-color: transparent;
}