/*
#=========================================#
|   icon 관련 CSS 입니다.              |
#=========================================#
*/

.icon {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -999em;
    overflow: hidden;
}

.ico_account_btn{
    @include background-img ($width: 32px, $height: 32px, $category: 'icon', $img: 'ico_account_btn.png');
}
.ico_footer_logo{
    @include background-img ($width: 63px, $height: 19px, $category: 'icon', $img: 'ico_footer_logo.png');
}
.ico_white_home{
    @include background-img ($width: 24px, $height: 22px, $category: 'icon', $img: 'ico_white_home.png');
}

.ico_select_arrow_down{
    @include background-img ($width: 30px, $height: 30px, $category: 'icon', $img: 'ico_select_arrow_down.png');
}

.ico_search_gray{
    @include background-img ($width: 16px, $height: 16px, $category: 'icon', $img: 'ico_search_gray.png');
}

.ico_close_btn{
    @include background-img ($width: 28px, $height: 28px, $category: 'icon', $img: 'ico_close_btn.png');
}
