/*
#=========================================#
|   input 관련 CSS 입니다.              |
#=========================================#
*/

.select-box {
    position: relative;
    cursor: pointer;
    width: 100%;
    margin-bottom: 0;
    border-radius: 7px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid $gray-400;
    font-size: 15px;
    .icon {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
    }
    &.active {
        border: 1px solid $purple-100;
        .options {
            display: block;

        }
        .icon {
            background-image: url("https://image.payple.kr/onboard/icon/ico_select_arrow_up.png");
        }
    }

    .select-value {
        background-color: $gray-fff;
        color: $gray-000;
    }
    .options {
        top: 40px;
        left: 0;
        display: none;
        position: absolute;
        width: 100%;
        overflow-y: auto;
        height: 160px;
        margin: 0;
        background-color: $gray-fff;
        border: 1px solid $gray-400;
        z-index: 1000;
        border-radius: 7px;
        .option {
            padding: 8px 12px;
            font-size: 15px;
            background-color: $gray-fff;
            &:hover {
                background-color: #f0f0f0;
            }
        }

    }
}
.form-control{
    padding: 6px 12px;
    height: auto;
    font-size: 14px;
    color: $gray-000;
    border-radius: 7px;
    &:focus{
        box-shadow: none;
        border-color: $purple-100;
        color: inherit;
    }

    &.search{
        padding: 6px 12px 6px 28px;
        background-image: url("../img/icon/ico_search_gray.png");
        background-repeat: no-repeat;
        background-size: 12px 12px;
        background-position: 8px center;
        &.question{
            padding: 8px 32px 8px 32px;
        }
    }
}
.input-ico-hover{
    position: absolute;
    right: 11px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.speech-bubble{
    display: none;
    z-index: 1004;
    word-break: keep-all;
    padding: 5px 10px;
    position: absolute;
    font-size: 12px;
    color: $gray-100;
    right: -72px;
    top: -20px;
    background-color: $gray-fff;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0,0,0,0.25);
    &:after{
        position: absolute;
        content: '';
        border-top: 10px solid $gray-fff;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 0 solid transparent;
        left: 50%;
        transform: translateY(-50%);
        bottom: -10px;
    }
}

[type="checkbox"]{
    appearance: none;
    display: none;
    vertical-align: middle;
    + .ico_checkBox{
        cursor: pointer;
        background-position: center top;
    }
    &:checked{
        + .ico_checkBox{
            background-position: center -20px;
        }
    }
    &:disabled{
        + .ico_checkBox{
            background-position: center -40px;
        }
    }
}
