/*
#=========================================#
|   레이아웃 관련 css 입니다.                 |
#=========================================#
*/
.wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
}

header {
    position: fixed;
    z-index: 901;
    width: 100%;
    background-color: $gray-fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    .header {
        margin: 0 30px;
        display: flex;
        align-items: center;
        height: 54px;
        padding: 12px 0;
        justify-content: space-between;
        .aside_button {
            cursor: pointer;
            display: none;
            &.active {
                div {
                    &:first-child {
                        transform: rotate(-45deg) translate(-6px, 5px);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:last-child {
                        transform: rotate(45deg) translate(-8px, -7px);
                    }
                }

            }

            div {
                border: 1px solid #BABAC2;
                width: 22px;
                height: 2px;
                transition: all 0.3s;

                &:nth-child(2) {
                    margin-top: 7px;
                    margin-bottom: 7px;
                }

            }

            @include res-sm {
                display: block;
            }
        }

        .logo {
            margin: 0;
            font-size: 0;
        }

        .btn-area {
            cursor: pointer;
        }
    }
}


.aside {
    position: fixed;
    width: 240px;
    height: 100%;
    background-color: #28282E;
    top: 54px;
    left: 0;
    z-index: 900;
    color: $gray-fff;
    transition: all 0.3s;

    .btn_open_depths{
        position: absolute;
        width: 30px;
        height: 30px;
        top: 25px;
        right: -13px;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s;
        &.active{
            rotate: 180deg;
        }
        img{
            width: 100%;
            height: auto;
        }
        @include res-sm{
            display: none;
        }
    }
    .layout {
        padding: 70px 14px;
        height: 100%;
        >ul{
            overflow-y: auto;
            height: 100%;
            &::-webkit-scrollbar {
                width: 2px;  /* 스크롤바의 너비 */
            }
            &::-webkit-scrollbar-thumb {
                height: 30%; /* 스크롤바의 길이 */
                background: #3B3B42; /* 스크롤바의 색상 */
                border-radius: 10px;
            }
            &::-webkit-scrollbar-track {
                background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
            }
        }
        .one_depth {
            @include res-sm{

            }
            .title {
                cursor: pointer;
                border-radius: 7px;
                width: 100%;
                padding: 10px 16px;
                font-size: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &.active {
                    svg {
                        rotate: -180deg;
                        stroke: #fff;
                    }
                }

                &:hover {
                    background-color: #3B3B42;
                }
                svg {
                    transition: all 0.3s;
                    stroke-width: 2;
                    stroke: #565359;
                }
            }
            &.main_link {
                padding: 10px 5px;

                span {
                    display: flex;
                    width: 42px;
                    height: 42px;
                    align-items: center;
                    justify-content: center;
                    border-radius: 8px;

                    &:hover {
                        background-color: #3B3B42;
                    }
                }

                a {
                    display: inline-block;

                }


            }

        }

        .two_depth {
            display: none;
            .link {
                font-size: 15px;
                padding: 10px 16px;
                @include res-sm{
                    padding: 10px 30px;
                }

                a {
                    display: flex;
                    align-items: center;
                    width: 100%;

                    span {
                        color: $gray-fff;
                    }


                }

                svg {
                    fill: #5C595F;
                    margin-right: 9px;
                }

                &:hover {
                    a {
                        span {
                            color: $purple-200;
                        }
                    }

                    svg {
                        fill: $purple-200;
                        stroke: $purple-200;
                    }
                }

            }
            .link_title{
                font-size: 15px;
                padding: 10px 16px;
                display: flex;
                align-items: center;
                @include res-sm{
                    padding: 10px 30px;
                }
                svg {
                    fill: #5C595F;
                    margin-right: 9px;
                }

            }

            &.active {
                overflow: visible;
                height: 100%;
                visibility: visible;
            }
        }

        .thr_depth {
            .link {
                font-size: 15px;
                padding: 10px 0 10px 40px;
                @include res-sm{
                    padding: 10px 0 10px 54px;
                }
                a {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    span {
                        color: $gray-fff;
                    }


                }

                svg {
                    fill: #5C595F;
                    margin-right: 9px;
                }

                &:hover {
                    a {
                        span {
                            color: $purple-200;
                        }
                    }

                    svg {

                        fill: $purple-200;
                        stroke: $purple-200;
                    }
                }

            }
        }
    }
    .arrow_box {
        visibility: hidden;
        position: fixed;
        background-color: $purple-200;
        padding: 6px 12px;
        left: 50px;
        top: 50%;
        width: max-content;
        transform: translateY(-50%);
        border-radius: 5px;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, .2);
        text-decoration: none;
        font-size: 13px;
        color: $gray-000;
        font-style: normal;
        &:before{
            right: 100%;
            top: 50%;
            border: solid transparent;
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        &:before{
            border-color: rgba(194, 225, 245, 0);
            border-right-color: $purple-200;
            border-width: 7px;
            margin-top: -7px;
        }
    }


    // active_btn
    &.on{
        width: 56px;
        .active_none{
            display: none;
        }
        .btn_open_depths{
            rotate: 180deg;
        }
        .layout{
                padding: 70px 0;
            .one_depth{
                padding: 0;
                text-align: center;
                &.main_link{
                    span{
                        position: relative;
                        display: inline-block;
                        width: 44px;
                        height: 42px;
                        i{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                        }
                    }
                }
                .title{
                    padding: 10px 6px;
                    text-align: center;
                    display: inline-block;
                    font-size: 14px;
                    svg{
                        display: none;
                    }
                }
            }
            .two_depth{
                .link_title{
                    justify-content: center;
                    svg{
                        margin-right: 0;

                    }
                    .text{
                        display: none;
                    }

                }
                .link{
                    text-align: center;
                    position: relative;
                    svg{
                        margin-right: 0;
                    }
                    a{
                        display: inline-block;
                        .text{
                            display: none;
                        }
                    }
                }
            }
            .thr_depth{
                background-color: #3B3B42;
                border-radius: 44px;
                margin: 10px 14px;

                .link{
                    padding: 10px 0;
                    text-align: center;
                }
            }
            .link{
                &:hover{
                    .arrow_box{
                        visibility: visible;
                    }
                }
            }
        }
        +.content-container{
            margin-left: 0;
            width: 100%;
            padding: 98px 24px 56px 80px;
        }
    }
    @include res-sm{
        width: 100%;
        transition: all 0.3s;
        left: -100%;
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $gray-fff;
    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 30px 0 262px;
        padding: 12px 0;
        &.on{
            margin: 0 30px 0 84px;
        }
        .copyright {
            color: $gray-100;
            font-size: 18px;
        }
        .logo_text {
            font-size: 18px;
            color: $gray-100;

            .icon {
                margin-left: 8px;
            }
        }
        @include res-sm{
            margin: 0 30px;
            .copyright{
                font-size: 14px;
            }
            .logo_text{
                font-size: 14px;
                a{
                    display: inline-block;
                }
            }
        }
    }
}


.content-container {
    margin-left: 240px;
    width: calc(100% - 264px);
    padding: 98px 24px 56px;
    .main-title{
        font-size: 23px;
        margin-bottom: 30px;
    }
    .filter-title{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        font-size: 18px;
        span{
            margin-left: 9px;
        }
    }
    .result-title-area{
        margin-bottom: 25px;
    }
    .result-title{
        font-size: 20px;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        span{
            margin-left: 9px;
        }
    }
}


.card{
    border-radius: 18px;
    padding: 24px;
    +.card{
        margin-top: 30px;
    }
    .filter-button-area{
        margin-top: 44px;
    }
    .card-title{
        margin-bottom: 12px;
    }
    .btn-group-month{
        .btn{
            margin-right: 5px;
            border-radius: 28px;
            font-size: 14px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .calender-input{
        width: 230px;
        position: relative;
        .icon{
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            right:5px;
            cursor: pointer;
        }

    }
}


.col-xl{
    &.empty{
       @include res-xl{
           display: none;
       }
    }
}


.pagination-area{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 16px;
    .pagination-list{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        font-weight: 400;
        color: $gray-200;
        li{
            margin: 0 18px;
            cursor: pointer;
            &.pagination-icon{
                margin: 0 8px;
            }
            &.active{
                font-weight: 700;
                color: $gray-100;
            }
        }
    }
}