/*
#=========================================#
|   modal 관련 css 입니다.              |
#=========================================#
*/



.calender_modal{
    max-width: max-content;
    .modal-content{
        border-radius: 15px;
    }
    .modal-body{
        padding: 30px;
    }
    .daterangepicker{
        font-family: Pretendard;
        position: static;
        border: none;
        margin-top: 0;

        &:before,&:after{
           display: none;
        }
        .drp-calendar{
            padding: 0;
            max-width:max-content;
            &.left{
                .calendar-table{
                    padding-right: 0;
                }
            }
            &.right{

            }
        }
        .calendar-table{
            thead{
                .month{
                    font-size: 20px;
                }
                tr{
                    &:nth-child(2){
                        th{
                            font-weight: 400;
                            &:nth-child(1){
                                color: $red-100;
                            }
                        }
                    }
                }

            }
            th{
                width: 50px;
                height: 43px;
                font-size: 16px;
            }
            td{
                width: 50px;
                height: 43px;
                font-size: 16px;
            }


        }

    }
}



.slide-modal-backdrop{
    position: fixed;
    background: rgba(0,0,0,0);
    width: 100%;
    height: 100%;
    z-index: 1040;
    top: 0;
    left: 0;
    visibility: hidden;
    &.on{
        background: rgba(0,0,0,0.5);
        visibility: visible;
        .slide-modal{
            right: 0;
        }
    }
    .slide-modal{
        position: absolute;
        right: -30%;
        top:0;
        width: 30%;
        height: 100%;
        background-color: $gray-fff;
        transition: all 0.3s;
        .modal_header{
            padding: 40px;
            position: relative;
            .ico_close_btn{
                position: absolute;
                cursor: pointer;
            }
        }
        .modal_body{
            padding: 40px;
        }
        .modal_footer{
            padding: 40px;
        }
        // 중간 모달
        &-md{
            width: 476px;
            right: -476px;
            .modal_header{
                height: 110px;
                .ico_close_btn{
                    top: 40px;
                    right: 40px;
                }
            }
            .modal_footer{
                padding: 0 40px;
            }
        }
        &-lg{
            transition: all 0.5s;
            width: 1185px;
            right: -1185px;
            .modal_header{
                height: 110px;
                .ico_close_btn{
                    top: 40px;
                    right: 40px;
                }
            }
            .modal_footer{
                padding: 0 40px;
            }
        }


    }
}