/*
#=========================================#
|   table 관련 css 입니다.              |
#=========================================#
*/

.table-responsive {
    th, td {
        font-weight: 400;
        padding: 12px 10px;
        font-size: 13px;
        color: $gray-000;
    }

}




.table-fixed {
    table-layout: fixed;
}

.table-spread {
    thead {
        tr {
            background-color: #E0E0E0;
            border-bottom: 1px solid $gray-400;
            th{
                border-right: 1px solid $gray-400;
                &:nth-last-child(1){
                    border-right: none;
                }
            }
        }

    }
    tbody{
        tr{
            border-bottom: 1px solid $gray-400;
            &.color-red-100{
                td{
                    color: $red-100;
                }
            }


            &:nth-child(odd){
                background-color: #fff;
            }
            &:nth-child(even){
                background-color: #F5F5F5;
            }
            &:hover {
                background-color: $purple-300;
            }

            td{
                border-right: 1px solid $gray-400;
                &:nth-last-child(1){
                    border-right: none;
                }
            }
            &.empty-data {
                border-bottom: 0;
                background-color: $gray-fff;
                td{
                    border: none;
                }
                .empty-data-area {
                    margin: 60px 0 46px;
                    .text {
                        margin-top: 35px;
                        font-size: 16px;
                        color: $gray-000;
                    }
                }
            }
        }
    }
}


.data-table{
    width: 100%;

    tr{
        font-size: 16px;
        font-weight: 500;
        border-top: 1px solid $gray-400;
        &:first-child{
            border-top: 2px solid $gray-100;
        }
        &:last-child{
            border-bottom: 1px solid $gray-400;
        }
        th,td{
            word-break: break-all;
            padding: 12px 14px;
            font-weight: 400;
        }
        th{
            background-color: $gray-500;
            border-right: 1px solid $gray-400;
        }
    }
}