/*
#=========================================#
|   table 관련 css 입니다.              |
#=========================================#
*/

.table-responsive {
    th, td {
        font-weight: 400;
        padding: 12px 10px;
        font-size: 13px;
        color: $gray-000;
        word-break: break-all;

        span {
            display: inline-block;
        }
    }

    .two-word-list {
        .two-word {
            margin-bottom: 4px;

            .title {
                margin-right: 6px;
            }

            &:nth-last-child(1) {
                margin-bottom: 0;
            }
        }
    }
}

.table-fixed {
    table-layout: fixed;
}

.table-not-spread {
    thead {
        tr {
            background-color: #F5F5F5;
            border-bottom: 1px solid $gray-400;

            th {
                border-bottom: none;
                border-right: 1px solid $gray-400;

                &:nth-last-child(1) {
                    border-right: none;
                }
            }
        }

    }

    tbody {
        tr {
            border-bottom: 1px solid $gray-400;

            &.empty-data {
                border-bottom: 0;

                td {
                    padding: 65px 0;
                    text-align: center;

                    &:hover {
                        background-color: $gray-fff
                    }
                }


            }

            &:hover {
                background-color: $purple-300;
            }

            td {
                border-right: 1px solid $gray-400;

                &:nth-last-child(1) {
                    border-right: none;
                }
            }
        }
    }

}

.table-not-hover {
    tbody {
        tr {
            &:hover {
                background-color: inherit;
            }

        }
    }
}

.table-spread {
    thead {
        tr {
            background-color: #E0E0E0;
            border-bottom: 1px solid $gray-400;

            th {
                border-right: 1px solid $gray-400;

                &:nth-last-child(1) {
                    border-right: none;
                }
            }
        }

    }

    tbody {
        tr {
            border-bottom: 1px solid $gray-400;

            &.color-red-100 {
                td {
                    color: $red-100;
                }
            }


            &:nth-child(odd) {
                background-color: #fff;
            }

            &:nth-child(even) {
                background-color: #F5F5F5;
            }

            &:hover {
                background-color: $purple-300;
            }

            td {
                border-right: 1px solid $gray-400;

                &:nth-last-child(1) {
                    border-right: none;
                }
            }

            &.empty-data {
                border-bottom: 0;
                background-color: $gray-fff;

                td {
                    padding: 65px 0;
                    border: none;
                }
            }
        }
    }

    &.table-thead-custom {
        thead {
            tr {
                border-bottom: none;

                &:first-child {
                    border-top: 1px solid $gray-100;
                }
            }

            th {
                background-color: $gray-500;
                padding: 0 10px;
                border-bottom: none;
                border-top: none;
            }

        }
    }
}

.table-data {
    width: 100%;

    thead {
        tr {
            border-top: 1px solid $gray-100;

            th {
                font-size: 14px;
                word-break: break-all;
                padding: 12px 14px;
                font-weight: 400;
                background-color: $gray-500;
                border-right: 1px solid $gray-400;
                border-bottom: 1px solid $gray-400;

                &:nth-last-child(1) {
                    border-right: none;
                }
            }
        }

    }

    tbody {
        tr {
            td {
                font-size: 13px;
                word-break: break-all;
                padding: 12px 14px;
                font-weight: 400;
            }
        }


    }
}

.table-th-gray-100 {
    thead {
        tr {
            &:first-child {
                th {
                    border-top: 1px solid $gray-100 !important;
                }
            }
        }


    }
}

.horizontal-info-table {
    width: 100%;

    tr {
        &:first-child {
            border-top: 1px solid $gray-100;
        }

        border-bottom: 1px solid $gray-400;

        th {
            font-size: 16px;
            background-color: $gray-500;
            padding: 12px 14px;
            font-weight: 600;
        }

        td {
            font-size: 16px;
            word-break: break-all;
            padding: 12px 14px;
            font-weight: 400;
        }
    }

}


/*div로 구성된 테이블*/

.payment-info-table {
    width: 100%;
    border-top: 1px solid $gray-100;

    .info-block-row {
        display: flex;
        @include res-xl {
            flex-direction: column;
        }

        .info-block {
            display: flex;
            flex: 1 1 50%;
            border-bottom: 1px solid $gray-400;

            .title {
                border-right: 1px solid $gray-400;
                flex: 0 0 200px;
                background-color: $gray-500;
                font-size: 16px;
                padding: 14px;
            }

            .data {
                word-break: break-all;
                font-size: 16px;
                flex: 1 1 100%;
                padding: 14px;
            }
        }
    }
}

.custom-data-table {
    text-align: center;
    font-size: 13px;

    .thead {
        display: flex;

        .custom-table-th {
            border-top: 1px solid $gray-100;
            border-bottom: 1px solid $gray-400;
            border-right: 1px solid $gray-400;
            background-color: #f5f5f5;
            flex: 0 0 150px;
            padding: 6px 12px;

            &:nth-last-child(1) {
                border-right: 0;
               
            }

            span {
                font-weight: 600;
            }
        }
    }

    .tbody {
        .custom-table-tr {
            display: flex;

            &:nth-last-child(1) {
                border-bottom: none;
            }

            .custom-table-td {
                padding: 6px 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 0 0 150px;
                border-right: 1px solid $gray-400;
                border-bottom: 1px solid $gray-400;
                justify-content: center;
                margin-bottom: 0;

                &:nth-last-child(1) {
                    border-right: none;

                }

                .title {
                    font-size: 13px;
                }

                span {
                    vertical-align: middle;
                }
            }

            .custom-table-group-td {
                display: flex;
            }
        }
    }

    &.table-col-10 {
        .thead {
            .custom-table-th {
                flex: 0 0 107px;
                &.lg{
                    flex: 0 0 150px;
                }
            }
        }

        .tbody {
            .custom-table-tr {
                .custom-table-td {
                    flex: 0 0 107px;
                    &.lg{
                        flex: 0 0 150px;
                    }
                }
            }
        }

    }

    &.table-col-7 {
        .thead {
            .custom-table-th {
                flex: 0 0 159px;
            }
        }

        .tbody {
            .custom-table-tr {
                .custom-table-td {
                    flex: 0 0 159px;
                }
            }
        }

    }

    &.table-col-6 {
        .thead {
            .custom-table-th {
                flex: 0 0 186px;
            }
        }

        .tbody {
            .custom-table-tr {
                .custom-table-td {
                    flex: 0 0 186px;
                }
            }
        }

    }
}