/*
#=========================================#
|   modal 관련 css 입니다.              |
#=========================================#
*/

.table-responsive{
    th,td{
        padding: 12px 14px;
    }
    th{
        font-size: 16px;
    }
    td{
        font-size: 13px;

    }

}