/*
#=========================================#
|    초기값 관련 css 입니다.                   |
#=========================================#
*/

$purple-100 : #7852E8;
$purple-200 : #B79EFF;
$purple-300 : #F0EDFF;

$blue-100 : #0086F1;

$red-100 : #FF3131;
$red-200 : #FFE4DB;
$red-300 : #FFF1F1;

$orange-100 : #FF6F42;

$gray-fff : #FFF;
$gray-000 : #000;
$gray-100 : #52525B;
$gray-200 : #BABAC2;
$gray-300 : #ececec;
$gray-400 : #CED4DA;
$gray-500 : #F5F5F5;

$green-100 : #62BB00;



$res_sm : 575.98px;
$res_md : 768.98px;
$res_lg : 991.98px;
$res_xl : 1199.98px;




