/*
#=========================================#
|   페이지 관련 css 입니다.                   |
#=========================================#
*/

/*공지사항*/
.notice-section {
    .search-email-btn-area {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        @include res-lg {
            flex-direction: column;
        }
    }

    .email-btn-area {
        button {
            &:first-child {
                margin-right: 12px;
            }
        }

        @include res-lg {
            margin-bottom: 24px;
            button {
                width: calc(50% - 2px);

                &:first-child {
                    margin-right: 0;
                }
            }
        }

        @include res-md {
            button {
                width: 100%;

                &:first-child {
                    margin-bottom: 24px;
                }
            }
        }
    }

    .search-btn-area {
        display: flex;
        @include res-md {
            flex-direction: column;
            width: 100%;

        }

        .form-group {
            margin-right: 12px;
            margin-bottom: 0;
            @include res-md {
                margin-right: 0;
                margin-bottom: 24px;
            }

            label {
                width: 100%;
            }

        }
    }

    .notice-detail-list {
        font-size: 14px;

        li {
            margin-bottom: 12px;

            .title {
                width: 66px;
                display: inline-block;
                color: $gray-100;
            }

            .desc {
                margin-left: 20px;
                color: $gray-000;
            }
        }

    }

    .text-container {
        .title {
            font-size: 14px;
            margin-bottom: 20px;
            color: $gray-100;
        }

        .text-view {
            padding: 30px 25px;
            border: 1px solid #CED4DA;
            border-radius: 7px 7px 0 0;
            min-height: 700px;
        }
    }

    .prev-next-text-list {
        border: 1px solid #CED4DA;
        border-top: none;
        border-radius: 0 0 7px 7px;

        li {
            font-size: 13px;

            &.next {
                border-bottom: 1px solid $gray-400;
            }

            &:hover {
                background-color: $gray-500;
            }

            a {
                padding: 18px 13px;

                width: 100%;
                height: 100%;
                color: $gray-000;
                display: flex;

                i {
                    font-style: normal;
                    margin-right: 13px;
                }

                .title {
                    flex: 0 0 auto;
                    margin-right: 18px;
                }

                .content {
                    @include ellipsis;
                    width: 90%;
                    display: inline-block;
                }

                &:hover {
                    text-decoration: none;

                    .content {
                        font-weight: 600;
                    }
                }
            }

        }
    }
}

/*가입,신청정보*/
.signup-section {
    width: 100%;

    .nav-tabs-layout {
        margin: 0 auto 24px;
        max-width: 800px;
        border-bottom: 1px solid $gray-200;

        .nav-tabs {
            margin: 0 auto;

            .nav-item {
                border-bottom: none;

                .nav-link {
                    padding: 10px 13px;
                }
            }
        }
    }

    .signup-layout {
        max-width: 800px;
        margin: 0 auto;

        .card {
            .btn-wrap {
                button + button {
                    margin-left: 5px;
                }
            }

            button {
                font-size: 13px;
            }

            .title-area {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;

                .title {
                    font-size: 18px;

                    .icon {
                        margin-right: 5px;
                    }

                    .hover-area {
                        display: inline-block;
                        margin-left: 5px;
                        cursor: pointer;
                        font-style: normal;

                        .icon {
                            margin-right: 0;
                        }

                        .speech-bubble {
                            width: max-content;
                            padding: 12px;
                            left: calc(50% - 10px);
                            top: -45px;
                            font-weight: 500;
                            display: none;
                            transform: translate(-50%, -0%);
                        }

                        &:hover {
                            .speech-bubble {
                                display: block;
                            }
                        }
                    }
                }
            }

            .signup-list-area {
                .list {
                    align-items: center;
                    margin-bottom: 20px;
                    display: flex;

                    .title {
                        flex: 0 0 100px;
                        color: $gray-100;
                        font-size: 14px;

                        &.title-lg {
                            flex: 0 0 120px;
                        }

                        .hover-area {
                            display: inline-block;
                            margin-left: 5px;
                            cursor: pointer;
                            font-style: normal;

                            .speech-bubble {
                                width: max-content;
                                top: -30px;
                                display: none;
                                font-size: 13px;
                                right: -43px;
                            }

                            &:hover {
                                .speech-bubble {
                                    display: block;
                                }
                            }
                        }

                        span {
                            font-size: 10px;
                            font-weight: 500;
                        }
                    }

                    .data {
                        flex: 1 1 auto;
                        font-size: 14px;
                        word-break: break-all;
                    }

                    .data-content {
                        display: flex;
                        flex: 1 1 100%;
                        align-items: center;

                        .title {
                            flex: 0 0 90px;
                            margin-right: 10px;
                        }

                    }

                    .data-button-area {
                        .data {
                            + button {
                                margin-left: 10px;
                            }
                        }
                    }

                    &.content-col-3 {
                        align-items: flex-start;
                        margin-bottom: 0;

                        .title {
                            flex: 0 0 40px;
                        }

                        .data-group {
                            flex: 1 1 auto;
                            font-size: 14px;
                            word-break: break-all;

                            .data-list {
                                display: flex;

                                margin-bottom: 20px;

                                .title {
                                    flex: 0 0 120px;
                                }
                            }
                        }
                    }

                    &.list-column {
                        flex-direction: column;

                        .title {
                            flex: 0 0 auto;
                            margin-right: auto;
                            margin-bottom: 12px;
                        }

                        .img {
                            border-radius: 7px;
                            overflow: hidden;

                            &.logo {
                                @include background-img($width: 100%, $height: 66px, $category: 'common', $img: 'bg_empty_img_logo.png');

                            }

                            &.thumbnail {
                                width: 331px;
                                height: 165px;
                                @include background-img($width: 100%, $height: 165px, $category: 'common', $img: 'bg_empty_img_thumbnail.png');

                            }
                        }


                    }

                    .checkbox-list-area {
                        display: flex;
                        flex-wrap: wrap;

                        li {
                            font-size: 13px;
                            margin-right: 10px;

                            &:nth-last-child(1) {
                                margin-right: 0;
                            }
                        }

                    }

                    .input-row-list {
                        flex: 1 1 100%;

                        .row {
                            > div {
                                @include res-lg {
                                    margin-bottom: 20px;
                                    &:nth-last-child(1) {
                                        margin-bottom: 0;
                                    }
                                }

                            }
                        }
                    }

                    .unit {
                        input {
                            text-align: right;
                            padding: 6px 30px 6px 12px;
                        }

                        &:after {
                            position: absolute;
                            content: '원';
                            top: 50%;
                            right: 12px;
                            transform: translateY(-50%);
                        }
                    }

                }
            }

            .caption {
                margin-top: 20px;
                font-size: 12px;
                color: $gray-200;

                .icon {
                    margin-right: 6px;
                }

                span {
                    margin-left: 5px;
                }

                .alert-text {
                    position: absolute;
                    top: 50%;
                    left: 100px;
                    font-size: 13px;
                    transform: translateY(-50%);

                    span {
                        vertical-align: middle;
                        margin-left: 0;
                    }

                    &.color-purple-100 {
                        .icon {
                            @include background-img($width: 13px, $height: 13px, $category: 'icon', $img: 'ico_checked_purple.png')
                        }
                    }

                    &.color-red-100 {
                        .icon {
                            @include background-img($width: 13px, $height: 13px, $category: 'icon', $img: 'ico_danger.png')
                        }
                    }
                }
            }

            .table-data {
                thead {
                    tr {
                        th {
                            padding: 6px 12px;
                            border-top: none;
                        }
                    }
                }
                tbody {
                    tr {
                        border-bottom: 1px solid $gray-400;
                        &:first-child {
                            border-top: none;
                        }
                        td {
                            padding: 6px 12px;
                            border-top: none;
                            border-right: 1px solid $gray-400;

                            &:last-child {
                                border-right: 0;
                            }
                        }

                    }
                }
            }


            .custom-data-table {
                text-align: center;
                font-size: 13px;
                .thead {
                    border-top: 1px solid $gray-100;
                    border-bottom: 1px solid $gray-400;
                    display: flex;
                    .custom-table-th {
                        border-right: 1px solid $gray-400;
                        background-color: #f5f5f5;
                        flex: 0 0 150px;
                        padding: 6px 12px;
                        &:nth-last-child(1) {
                            border-right: 0;
                        }

                        span {
                            font-size: 13px;
                            font-weight: 600;
                        }
                    }
                }

                .tbody {
                    .custom-table-tr {
                        display: flex;

                        &:nth-last-child(1) {
                            border-bottom: none;
                        }

                        .title-area {
                            padding: 6px 12px;
                            flex: 0 0 150px;
                            border-right: 1px solid $gray-400;
                            justify-content: center;
                            border-bottom: 1px solid $gray-400;
                            margin-bottom: 0;

                            .title {
                                font-size: 13px;
                            }


                        }

                        .data-area {
                            flex: 0 0 600px;
                            display: flex;

                            .data {
                                border-bottom: 1px solid $gray-400;
                                border-right: 1px solid $gray-400;
                                min-width: 110px;
                                padding: 6px 12px;
                                flex: 0 0 150px;

                                &:nth-last-child(1) {
                                    border-right: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*이메일 발송하기 */
.email-filter-section{
    .toast-popup{
        top: 80px;
        width: 360px;
        left: 50%;
        transform: translateX(-50%);

    }
    .email-send-container{
        .sub-title{
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 12px;
        }
        .form-group{
            margin-bottom: 24px;
            &:nth-last-child(1){
                margin-bottom: 0;
            }
        }
        .text-area{
            min-height: 575px;
            resize: none;
        }

    }
}

/*상담 관리*/
.consulting-section{
    .box{
        padding: 28px 40px 28px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        p{
            font-size: 18px;
            font-weight: 600;
        }
        .data{
            font-size: 25px;
            margin-right: 5px;
        }
        &.secondary{
            background-color: $gray-500;
            border: 1px solid $gray-200;
            .data{
                color: $blue-100;
            }
        }
        &.primary{
            background-color: $purple-300;
            border: 1px solid $purple-200;
        }

    }
}

