/*
#=========================================#
|   페이지 관련 css 입니다.                   |
#=========================================#
*/

/*공지사항*/
.notice-section{
    .search-email-btn-area{
        display: flex;
        justify-content: space-between;
        @include res-lg{
            flex-direction: column;
        }
    }
    .email-btn-area{
        button{
            &:first-child{
                margin-right: 12px;
            }
        }
        @include res-lg{
            margin-bottom: 24px;
            button{
                width: calc(50% - 2px);
                &:first-child{
                    margin-right: 0;
                }
            }
        }

        @include res-md{
            button{
                width: 100%;
                &:first-child{
                    margin-bottom: 24px;
                }
            }
        }
    }
    .search-btn-area{
        display: flex;
        margin-bottom: 24px;
        @include res-md{
            flex-direction: column;
            width: 100%;

        }
        .form-group{
            margin-right: 12px;
            margin-bottom: 0;
            @include res-md{
                margin-right: 0;
                margin-bottom: 24px;
            }
            label{
                width: 100%;
            }

        }
    }
    .notice-detail-list{
        font-size: 14px;
        li{
            margin-bottom: 20px;
            .title{
                width: 66px;
                display: inline-block;
                color: $gray-100;
            }
            .desc{
                margin-left: 20px;
                color: $gray-000;
            }
        }

    }
    .text-container{
        .title{
            font-size: 14px;
            margin-bottom: 20px;
            color: $gray-100;
        }
        .text-view{
            padding: 30px 25px;
            border: 1px solid #CED4DA;
            border-radius: 7px 7px 0 0;
            min-height: 700px;
        }
    }
    .prev-next-text-list{
        border: 1px solid #CED4DA;
        border-top: none;
        border-radius: 0 0 7px 7px;
        li{
            font-size: 13px;

            &:hover{
                background-color: $gray-500;
            }

            a{
                padding: 18px 13px;

                width: 100%;
                height: 100%;
                color: $gray-000;
                display: flex;
                i{
                    font-style: normal;
                    margin-right: 13px;
                }
                .title{
                    flex: 0 0 auto;
                    margin-right: 18px;
                }
                .content{
                    @include ellipsis;
                    width: 90%;
                    display: inline-block;
                }
                &:hover{
                    text-decoration: none;
                    .content{
                        font-weight: 600;
                    }
                }
            }

        }
    }
}

/*가입,신청정보*/
.signup-section{
    width: 100%;
    .nav-tabs-layout{
        margin: 0 auto 24px;
        border-bottom: 1px solid #babac2;
        .nav-tabs{
            max-width: 800px;
            margin: 0 auto;

            .nav-item{
                border-bottom: 0;
                .nav-link{
                    padding: 10px 13px;
                }
            }
        }
    }

    .signup-layout{
        max-width: 800px;
        margin: 0 auto;
        .card{
            .title-area{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                .title{
                    font-size: 18px;
                    .icon{
                        margin-right: 5px;
                    }
                }
            }
            .signup-list-area{
                .list{
                    align-items: center;
                    margin-bottom: 20px;
                    display: flex;

                    .title{
                        flex: 0 0 100px;
                        color: $gray-100;
                        font-size: 14px;
                        span{
                            font-size: 10px;
                            font-weight: 500;
                        }
                    }
                    .data{
                        flex: 1 1 auto;
                        font-size: 14px;
                        word-break: break-all;
                    }
                    &.content-col-3{
                        align-items: flex-start;
                        margin-bottom: 0;
                        .title{
                            flex: 0 0 40px;
                        }
                        .data-group{
                            flex: 1 1 auto;
                            font-size: 14px;
                            word-break: break-all;
                            .data-list{
                                margin-bottom: 20px;
                                .title{
                                    width: 100px;
                                    display: inline-block;
                                }
                            }
                        }
                    }
                    &.list-column{
                        flex-direction: column;
                        .title{
                            flex: 0 0 auto;
                            margin-right: auto;
                            margin-bottom: 12px;
                        }
                        .img{

                            &.logo{
                                @include background-img ($width: 100%, $height: 66px, $category: 'common', $img: 'bg_empty_img_logo.png');

                            }
                            &.thumbnail{
                                width: 331px;
                                height:165px;
                                @include background-img ($width: 100%, $height: 165px,$category: 'common', $img: 'bg_empty_img_thumbnail.png');

                            }
                        }


                    }
                    .checkbox-list-area{
                        display: flex;
                        li{
                            &:first-child{
                                margin-right: 20px;
                            }
                        }

                    }



                }
            }
            .caption{
                margin-top: 20px;
                display: flex;
                align-items: center;
                font-size: 12px;
                color: $gray-200;
                .icon{
                    margin-right: 6px;
                }
                span{
                    margin-left: 5px;
                }
            }
            .table-data{
                thead{
                    tr{
                        border-top: 1px solid $gray-100;

                        th{
                                padding: 6px 12px;
                            border-top: none;

                        }
                    }
                }
                tbody{
                    tr{
                        &:first-child{
                            border-top: none;
                        }
                       td{
                               padding: 6px 12px;
                           border-top: none;
                           border-right: 1px solid $gray-400;
                           &:last-child{
                               border-right: 0;
                           }
                       }

                    }
                }
            }
        }
    }
}